{% extends 'base.html' %}
 
{% block content %}
  <div class="post-entry">
    <h2>{{ post.title }}</h2>
    <p style="color:#808080">by {{post.author}}</p>
    <p style="color:#808080"> {{post.created}}</p>
    <p>{{ post.body }}</p>
  </div>
  <div class="card-body">
    {% if not user.is_authenticated %}
    <div class="alert alert-danger" role="alert">
      Please login to leave comments
    </div>
    {% elif new_comment %}
    <div class="alert alert-success" role="alert">
      Your comment is awaiting moderation
    </div>
    {% else %}
    <h3>Leave a comment</h3>
    <form method="post" style="margin-top: 1.3em;">
      {{ comment_form.as_p }}
      {% csrf_token %}
      <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
    </form>
    {% endif %}
  </div>
  {% for comment in comments %}
  <div class="comments" style="padding: 10px;">
    <p class="font-weight-bold">
      {{ comment.author }}
      <span class=" text-muted font-weight-normal">
        {{ comment.created_on }}
      </span>
    </p>
    {{ comment.body | linebreaks }}
  </div>
  {% endfor %}
 
{% endblock content %}